@tailwind base;

@tailwind components;

@tailwind utilities;

button:focus {
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  border-radius: 13px;
  background: #202231;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #223D5E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #223D5E;
  cursor: pointer;
}

.info-modal {
  bottom: 12;
}

@media (max-width: 700px) {
  .info-modal {
    top: 12;
  }
  .menu-z {
    height: 100%;
    width: 100vw;
    position: absolute !important;
    top: 50px;
    background-color: #202231;
    
  }
}

.menu-z {
  height: 800px;
  position: absolute !important;
  background-color: #202231;
}